<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Unlimited Wishes</h1>
        <div class="home-wrapper">
            <h2 class="home-subtitle">What if wishes never had a limit?</h2>
            <p class="home-text">Legends say a Genie grants only three wishes. But in Unlimited Wishes, desire has no boundaries.<br/>
            You'll find yourself in this mystical Eastern setting where the symbols actually shimmer on screen, lamps come to life,
            and honestly? The magic just keeps happening. Here, wishes don’t end — they multiply.</p>
            <a class="hero-btn pulse btn" href="#demo">
                <p>Release the Magic</p>
            </a>
        </div>
    </div>
</section>