body{
  background: #170127;
  font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #fff8e4;
}
.btn{
  box-shadow: 1px 2px 2px 0 rgba(255, 195, 40, 0.4);
    background: linear-gradient(180deg, #ebe0ed 0%, #ffc328 100%);
    border: 1px solid #ffc328;
      border-radius: 16px;
      width: 240px;
      height: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 14px;
      font-family: "Reddit Sans Condensed", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.3;
        color: #170127;
        transition: background 0.3s ease-in-out;
}
.btn:hover,
.btn:active {
  background: linear-gradient(180deg,
      #ebe0ed 0%,
      #ffc328 28.85%);
}
h2{
  font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #fff8e4;
}
.title-container{
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 8px;
  padding-bottom: 40px;
}
h3{
  font-family: "Aladin", sans-serif;
    font-weight: 400;
    font-size: 32px;
    background: linear-gradient(180deg, #fff8e4 0%, #ffc328 55.74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}