body{
  background: #170127;
  font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #fff8e4;
}
.btn{
  box-shadow: 1px 2px 2px 0 rgba(255, 195, 40, 0.4);
    background: linear-gradient(180deg, #ebe0ed 0%, #ffc328 100%);
    border: 1px solid #ffc328;
      border-radius: 16px;
      width: 240px;
      height: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 14px;
      font-family: "Reddit Sans Condensed", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.3;
        color: #170127;
        transition: background 0.3s ease-in-out;
}
.btn:hover,
.btn:active {
  background: linear-gradient(180deg,
      #ebe0ed 0%,
      #ffc328 28.85%);
}