.cookie-popup {
    position: fixed;
    bottom: 30px;
    left: 48%;
    transform: translateX(-48%);
    padding: 48px 51px;
background: #421165;
    z-index: 1000;
    width: 100%;
    height: auto;
    display: none;
}

.cookie-class {
font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #fff8e4;
    width: 253px;
    margin-left: auto;
    margin-right: auto;
}

.cookie-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
width: 272px;
    height: 38px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

.btn-accept {
border-radius: 12px;
    padding: 10px;
    width: 118px;
    height: 38px;
box-shadow: 0 2px 2px 0 rgba(255, 248, 228, 0.5);
    background: #fff8e4;
    box-sizing: border-box;
    border: none;
font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #000;

}

.btn-decline {
    border: none;
border-bottom: 1px solid #fff8e4;
    padding: 10px;
    width: 122px;
    height: 38px;
    opacity: 0.8;
font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #fff8e4;
    box-sizing: border-box;
    background-color: inherit;
}


@media screen and (min-width: 1439px) {
    .cookie-popup {
        padding: 56px 57px;
        width: 1439px;
        height: auto;
    }

    .popup-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .cookie-class {
        width: 100%;

    }

    .cookie-buttons {
        margin-top: 0;
        width: 376px;
        height: 40px;
        gap: 80px;
    }

}