.footer-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.footer-navigation{
  display: flex;
  justify-content: center;
  gap: 40px;
  font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff8e4;
}
.footer-text{
      font-weight: 300;
        font-size: 12px;
}
@media only screen and (min-width: 1440px) {
.footer-wrapper{
  flex-direction: row-reverse;
  justify-content: space-between;
}
.footer-navigation{
  gap: 8px;
}
}