.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.02);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;

}
.home-section {
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 343px 545px;
}
.home-subtitle{
    margin-top: 440px;
    font-family: "Reddit Sans Condensed", sans-serif;
        font-weight: 500;
        font-size: 24px;
        text-align: center;
        color: #fff8e4;
}
.home-text{
    margin-top: 16px;
    font-size: 16px;
}
.hero-btn{
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1440px) {
.home-section {
        background-image: url("/img/hero/desk.png");
        background-size: 1110px 525px;
    }
    .home-text{
        width: 655px;
        margin-left: auto;
        margin-right: auto;
    }
        .hero-btn {
            margin-top: 48px;
        }
}
/* Disclaimer */
.disclaimer-container{
    padding-left: 26px;
    padding-right: 26px;
}
.disclaimer-text{
        font-size: 12px;
        text-transform: uppercase;
}
@media only screen and (min-width: 1440px) {
.disclaimer-container {
        padding-left: 110px;
        padding-right: 110px;
    }

    .disclaimer-text {
        font-size: 12px;
        text-transform: uppercase;
    }
}