@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');
@import url('./cookie-popup.css');


.background {
    background: #fff8e4;
    text-align: left;
font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #170127;
}



.privacy-title {
font-family: "Aladin", sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    background: linear-gradient(180deg, #421165 0%, #170127 95.27%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 32px;
    margin-bottom: 32px;

}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 500;
    font-size: 20px;

    background: none;
    -webkit-background-clip: initial;
    background-clip: initial;
    -webkit-text-fill-color: initial;
    color: #170127;

    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 20px;
}

.mail-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.policy-span {
    font-weight: 700;
}

@media only screen and (min-width: 1439px) {
    .privacy-title {
    font-size: 48px;
    }

    .policy-container {
        padding-left: 189px;
        padding-right: 189px;
    }

}